a {
    color: var(--orange-d);
    text-decoration: none;
    outline: none;
    transition: all $speed $ease;

    @media (hover: hover) {
        @include u-hocus {
            color: var(--orange);
        }
    }
}

b,
strong {
    font-weight: bolder;
}

ul,
ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

::selection {
    background-color: $selection-background-color;
    color: $selection-text-color;
    -webkit-text-fill-color: $selection-text-color;
    text-shadow: none;
}

.svg-symbols {
    display: none;
}

svg {
    display: block;
}

img {
    max-width: 100%;
    height: auto;
}

p {
    margin: rems(0 0 20px);
}

.--prevent-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
