@import '../../../resources/scss/settings/config';
@import '../../../resources/scss/tools/media';

.hero {
    padding: rem(182px) 0 0;

    @include mq(s) {
        padding: rem(232px) 0 0;
    }

    &__inner {
        display: flex;
        align-items: center;
        flex-flow: column;
        gap: rem(80px) 0;

        @include mq(l) {
            flex-flow: row;
            justify-content: space-between;
            gap: 0 rem(25px);
        }
    }

    &__content {
        flex: 0 0 calc(55% - #{rem(24px)});
    }

    &__title {
        max-width: rem(640px);
        margin: rems(0 0 60px);

        @include mq(l, max) {
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }

    &__button[role='button'] {
        color: var(--brown);
        margin: rem(60px) auto 0;

        @include mq(l) {
            margin: rem(60px) 0 0;
        }
    }

    &__img {
        flex: 1;
    }
}
