@import '../../../resources/scss/settings/config';

:host {
    &.wrapper {
        display: block;
        max-width: $container-width;
        width: 100%;
        margin: 0 auto;
        padding: 0 $padding;
    }
}
