// Palette
$white: #fff;
$black: #181a1a;
$black-d: #020303;
$orange: #ffaf18;
$orange-m: #b99150;
$orange-l: #ffc468;
$orange-t: #bd975c;
$brown: #382400;
$red: #ff0000;

// Selection
$selection-text-color: #fff;
$selection-background-color: #bd975c;
