@import '../../../resources/scss/settings/config';

:host {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.menu {
    &__items {
        display: flex;
        align-items: center;
        gap: 0 rem(50px);
    }
}
